@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&family=Heebo:wght@100;200;300;400;500;600;700&family=Kablammo&family=Lobster&family=Oswald:wght@200;300;400;500;600;700&family=Satisfy&family=Sigmar&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@800&family=Heebo:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans+Hebrew:wght@400;500;600;700&family=Kablammo&family=Lobster&family=Oswald:wght@200;300;400;500;600;700&family=Satisfy&family=Sigmar&family=Varela+Round&display=swap');

html {
    min-height: 100%;
}

body {
    direction: rtl;
    background-image: linear-gradient(60deg, #071192 0%, #F81E70 100%);
    padding-bottom: 200px;
}


h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 30px;
    font-family: 'Satisfy', cursive;
    text-shadow: 3.5px 0px black;
   
}

.frame {
    width: 80%;
    max-width: 900px;
    min-height: 300px;
    background-color: #08040449;
    margin: auto;
    padding: 8px 16px;
    border-radius: 6px;
}

.task {
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 12px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 0;
    margin: 0px;
}

button {
    background-image: linear-gradient(60deg, #c46b6b 0%, #dfae54 100%);
    color: rgb(253, 253, 253);
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    font-size: 13px;
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button:hover {
    opacity: 0.8;
}

input,select {
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 3px;
    background-color: rgb(228, 217, 201);
}

img {
    width: 100%;
}

p {
    margin: 8px 0;
}

.alert {
    padding: 8px 12px;
    margin: 0 -16px;
    text-align: center;
    border: 1px dashed;
    border-right: 0;
    border-left: 0;
    font-size: 20px;
    background-color: gray;
    margin-bottom: 12px;
    color: white;
}

header {
    margin-bottom: 12px;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}

@media (max-width: 930px) {
    .tasks {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .tasks {
        grid-template-columns: repeat(1, 1fr);
    }
}

.tasks>div {
    box-shadow: 0 0 3px #bababa;
    background-color: rgb(231, 207, 174);
    border-radius: 5px;
    padding: 0 14px;
    font-family: 'Rubik', sans-serif;
}

.tasks>div {
    border-right: 6px solid;
}

.tasks>div.low {
    border-color: #f3f70a;
}

.tasks>div.medium {
    border-color: rgb(45, 202, 6);
}

.tasks>div.high {
    border-color: red;
}

.tasks>div.completed {
    border: none;
    background-color: #209944;
}

.tasks footer {
    padding: 8px 0;
}

.tasks footer .remove {
    background-color: #bb4949;
}