@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

html {
    min-height: 100%;
}

body {
    direction: rtl;
    padding-bottom: 200px;
    background-image: linear-gradient(rgb(48, 9, 71) , rgba(150, 10, 10, 0.815));
   background-repeat: no-repeat;
}

* {
    font-family: 'Rubik', sans-serif !important;
}

h1 {
    text-align: center;
    color:#9e9012;
    margin: 16px;
    text-shadow: 20px;
}

.frame {
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 12px 0;
    margin: 0px;
}

button {
    background-color: #8bc34a;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
}

button:hover {
    background-color: #a4d967;
}

.board {
    display: inline-grid;
    overflow: hidden;
    background-color: #e4e4e4;
    gap: 3px;
    padding: 6px;
    border-radius: 12px;
    direction: ltr;
}

.board img {
    width: 90px;
    height: 90px;
    background-color: #733bd5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    transition: 0.3s;
}


.board div {
    width: 90px;
    height: 90px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    transition: 0.5s;
    background-size: cover;
}
@media screen and (max-width: 395px) {
    .board div{
        width: 70px;
        height: 70px;
    }
  }
  @media screen and (max-width: 319px) {
    .board div{
        width: 60px;
        height: 60px;
    }
  }

.board img.option:not(.game-over img):hover {
    scale: 1.05;
    cursor: pointer;
}

.active {
    background-color: #00cc5c !important;
}

@keyframes zoom-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.4);
    }
}

.winner {
    font-size: 80px;
    position: fixed;
    font-weight: bold;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: zoom-in 2s;
    color:#9e9012;
}

.bg {
    background-color: #a4d967;
}

p {
    text-align: center;
    color: white;
}

p .margin {
    margin: 0 12px;
}

.div1 {
    background-image: url(../images/1.jpg);
}

.div2 {
    background-image: url(../images/2.jpg);
}

.div3 {
    background-image: url(../images/3.jpg);
}

.div4 {
    background-image: url(../images/4.jpg);
}

.div5 {
    background-image: url(../images/5.jpg);
}

.div6 {
    background-image: url(../images/6.jpg);
}

.div7 {
    background-image: url(../images/7.jpg);
}

.div8 {
    background-image: url(../images/8.jpg);
}
.div9 {
    background-image: url(../images/9.jpg);
}
.div10 {
    background-image: url(../images/10.jpg);
}
.div11 {
    background-image: url(../images/11.jpg);
}
.div12 {
    background-image: url(../images/12.jpg);
}
.div13 {
    background-image: url(../images/13.jpg);
}
.div14 {
    background-image: url(../images/14.jpg);
}
.div15 {
    background-image: url(../images/15.jpg);
}
